<!--Jenny Cai's About Page-->
<!--Front End: Roy Telles & Sam Zheng-->
{%extends "IndAbout.html" %}

{%block name%}
Jenny Dandan Cai
{%endblock%}

{%block image%}
<img src="/static/About/DandanCai.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Backend Engineer</h3>
{%endblock%}

{%block bio%}
<p>I am a graduate student at San Francisco State University in Computer Science specialized in Machine Learning. </p>
{%endblock%}

{% block contact %}
<p>Email: dcai1@mail.sfsu.edu</p>
<p>GitHub: Jennydandancai</p>
{%endblock%}
