<!--Michael Lama's About Page-->
<!--Front End: Roy Telles & Sam Zheng-->
{%extends "IndAbout.html" %}

{%block name%}
Michael Lama
{%endblock%}

{%block image%}
<img src="/static/About/Michael.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Back End</h3>
{%endblock%}

{%block bio%}
<p>I am a Computer Scientist Senior at San Franciso State University. </p>
<p>I enjoy coding challenging programs especially ones envolving new technologies. Java, C++, and C are my strongest languages</p>
{%endblock%}

{% block contact %}
<p>Email: mlama@mail.sfsu.edu</p>
<p>GitHub: mdl99123</p>
{%endblock%}


