{%extends "IndAbout.html" %}

{%block name%}
Roy Telles
{%endblock%}

{%block image%}
<img src="/static/About/RoyTelles.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Front-End Lead</h3>
{%endblock%}

{%block bio%}
<p>A senior at San Francisco State University, currently pursuing a Bachelor's degree in Computer Science, with a Mathematics minor. On my down time, I look for opportunities to educate myself in other programming languages outside of those offered by the curriculum. Current language of preference is Python.</p>
{%endblock%}

{% block contact %}
<p>Email: royt@mail.sfsu.edu</p>
<p>GitHub: rtelles64 </p>
{%endblock%}