<!--Sam Zheng's About Page-->
<!--Front End: Roy Telles & Sam Zheng-->

{%extends "IndAbout.html" %}

{%block name%}
Sam Xisheng Zheng
{%endblock%}

{%block image%}
<img src="/static/About/samz.jpg" class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
{%endblock%}

{%block title%}
<h3>Front End</h3>
{%endblock%}

{%block bio%}
<p>I first took computer science at City College of San Francisco then later transferred to San Franciso State University.</p>
<p>My first hello world program was in 2015 using c++ and I have been programming ever since. I reguarly do coding challenges during school breaks, motivated by climbing ranks on HackerRanks.com When I am not coding, my hobbies include playing video games and piano</p>
{%endblock%}

{% block contact %}
<p>Email: 25zsams@gmail.com</p>
<p>GitHub: <a href= "https://github.com/25zsams">https://github.com/25zsams</a></p>
{%endblock%}