#imagePage .object-fit_contain {
    object-fit: contain;
}

#imagePage img {
    height: 450px;
    width: 850px;
    background-color: rgb(67, 68, 68, 0);
}

#imagePage .image {
    float: center;
    margin: 20px;
}


#imagePage .uploader{
    text-align: right;
    padding: 10px;
    padding-right: 100px;
}
/* .btn {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
    border: none;
    margin-left: 40%
    /* color: white; */
    /* padding: 12px 30px;
    cursor: pointer;
    font-size: 40px;
    }  */

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: #00BFFF;
    }
