
#imageResult .object-fit_contain {
  object-fit: contain;
}

#imageResult img {
      height: 250px;
      width: 250px;
      background-color: #FFFFFF;
}

#imageResult .image {
      /* float: left; */
      margin: 50px;
}
