{%extends "ShallotLayout/shallotLayout.html"%}

{%block banner%}
Congratulations on creating your Shallot account!
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
{%endblock%}



{%block body%}
<br><br><br><br><br><br>
<center><h1>Thank you for registering an account with Shallot! Please click the button below to sign in!</h1></center>
<center>
        <form action="http://shallotco.com/Login">
            <input id="button" type="submit" value="Click to sign in" />
        </form>
</center>
{%endblock%}