{%extends "ShallotLayout/shallotLayout.html" %}

{%block content%}
    <div class="container">
	<h3><center>Results</center></h3>

		<!--<div class="column">-->
		{% for item in data %}

                <div class="column">
    		<tr>
                <h1>{{item[1]}}</h1>
	   	<td><p>{{item[2]}}</p> <img src="{{item[0]}}" class="img-thumbnail" alt="waves and rocks3" align="left" width="100" height="100" style="width:100%"/></td>

                </tr>

                </div>
    		{% endfor %}
		<!--</div>-->
		<!-- /.row -->
</div><br>
{%endblock%}

