{%extends "ShallotLayout/shallotLayout.html" %}
{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resultImage.css') }}">
{%endblock%}
{%block body%}
<br>
<div class="container">
  <h3><center>Results</center></h3>
<form action="/ImageInfo" method="post">
<div id="imageResult">
  {% for image in data %}
  <div class="row">
        <div class="column">

                <h1>{{image[1]}}</h1>
      <p>{{image[2]}}</p>
      <a href="/ImageInfo"><img src="{{image[0]}}" name="search" id="{{image[0]}}" value="{{ request.form.search }}" class="object-fit_contain" alt="waves and rocks3" align="left"/></a>

        </div>
    </div>
    {% endfor %}
  </div>
  </form>
  <script type="text/javascript" src="{{ url_for('static', filename='js/resultImage.js') }}"></script>
<script>
  function reroute(img) {
    window.location.replace('http://shallotco.com/' + img);
  }
</script>
{%endblock%}
