<!--Image Result Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->
{%include "layoutBanner.html"%}
{%block head%}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/resultImage.css') }}"> -->
<style>
            #imageResult .object-fit_contain {
                object-fit: contain;
            }

            #imageResult img {
            height: 250px;
            width: 250px;
            background-color: rgba(245, 245, 245, 0);
            }

            #imageResult .image {
            float: left;
            margin: 20px;
            }

            .resultCounts{
                text-align: right;
                padding: 10px;
                padding-right: 100px;
            }
</style>
{%endblock%}

{%block banner%}
<header class="card-header">
  <center><h2 class="card-title mt-2">Results</h2></center>
</header>
{%endblock%}

{%block results%}
<br>

{% if error %}
  <p class="error"><strong>Error: </strong>{{error}}</p>
{% endif %}
<div class="container">
<h3><center>Results</center></h3>


<form method="post">

    <div class = "container-fluid">
    <div id="imageResult">
      page: <span id="page"></span>
      <a href="javascript:prevPage()" id="btn_prev">Prev</a>
      <a href="javascript:nextPage()" id="btn_next">Next</a>
    <!-- {% for image in imgData %} -->
        <!-- <div class="column"> -->
        <div id="listingTable">
        <div class="image" >
          <a target="_blank" rel="noopener noreferrer" href="/Search/{{image[1]}}"> <img cass="object-fit_contain" src="{{image[0]}}"/></a>
        </div>
          </div>
        <!-- </div> -->
    <!-- {% endfor %} -->
  </div>
    </div>


</form>

  <script type="text/javascript" src="{{ url_for('static', filename='js/resultImage.js') }}"></script>
<script>
  function reroute(img) {
    window.location.replace('http://shallotco.com/' + img);
  }

  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Four images side by side
  function four() {
      for (i = 0; i < elements.length; i++) {
          elements[i].style.msFlex = "25%";  // IE10
          elements[i].style.flex = "25%";
      }
  }
</script>
<script>
var current_page = 1;
var records_per_page = 6;

// var objJson = [
//     { adName: "AdName 1"},
//     { adName: "AdName 2"},
//     { adName: "AdName 3"},
//     { adName: "AdName 4"},
//     { adName: "AdName 5"},
//     { adName: "AdName 6"},
//     { adName: "AdName 7"},
//     { adName: "AdName 8"},
//     { adName: "AdName 9"},
//     { adName: "AdName 10"}
// ]; // Can be obtained from another source, such as your objJson variable

function prevPage()
{
    if (current_page > 1) {
        current_page--;
        changePage(current_page);
    }
}

function nextPage()
{
    if (current_page < numPages()) {
        current_page++;
        changePage(current_page);
    }
}

function changePage(page)
{
    var btn_next = document.getElementById("btn_next");
    var btn_prev = document.getElementById("btn_prev");
    var listing_table = document.getElementById("listingTable");
    var page_span = document.getElementById("page");
    htmlData = ''
    // Validate page
    if (page < 1) page = 1;
    if (page > numPages()) page = numPages();

    for (var i = (page-1) * records_per_page; i < (page * records_per_page)&& i < {{imgData}}.length; i++) {
        // listing_table.innerHTML += {objJson}[i].adName + "<br>";
        // href='/Search/' + {{imgData}}[i][1] + '">';
        // img = '<img class="object-fit_contain" src=" ' + {{imgData}}[i][0] + '" /></a>';
        // htmlData = htmlData + href + img;
        imageName = {{imageData}}[i][1];
        imageSrc = {{imageData}}[i][0];
        htmlData = htmlData + '<a target="_blank" rel="noopener noreferrer" href="/Search/imageName"> <img class="object-fit_contain" src="imageSrc"/></a>'
        $('#listingTable').find('.image').html(htmlData);

    }
    page_span.innerHTML = page;

    if (page == 1) {
        btn_prev.style.visibility = "hidden";
    } else {
        btn_prev.style.visibility = "visible";
    }

    if (page == numPages()) {
        btn_next.style.visibility = "hidden";
    } else {
        btn_next.style.visibility = "visible";
    }
}

function numPages()
{
    return Math.ceil({{imgData}}.length / records_per_page);
}

window.onload = function() {
    changePage(1);
};
</script>
{%endblock%}
