<!--Image Information Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html" %}
{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}">
{%endblock%}
{%block body%}
        <br>
        <div id="imagePage" class = "container-fluid text-center">
              <div class="image">
                  {% for path in filePath %}
                  <img class="object-fit_contain" src="{{path[0]}}">
                  {% endfor %}
              </div>

            <!-- <form id = "download-form" method="POST">
                <input class="DownloadButton" type="submit" value="Click here to download">
            </form>

            <center>
                <div class="description">
                        {{image[2]}}
                </div>
            </center>

            <div class="uploader">
                <h3>Uploader: <a href="25zs">25zs</a></h3>
            </div>

            <br><br>
            <input class="CancelButton" type="submit" value="Cancel"> -->
        </div>
{%endblock%}
