<!--Image Information Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%endblock%}

{%block body%}
<!-- Container for the image gallery -->
<br>
<div class="container" style="min-height:100% width:80%">
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <!-- Full-width images with number text -->
  {% for data in data %}
  {% if session.logged_in %}
  <a href="{{data[0]}}" download="{{data[1]}}"><button class="btn"><i class="fa fa-download"></i> Download</button></a>
  <p style="text-align:center;">{{data[1]}} ;&nbsp; ;&nbsp; ;&nbsp;Uploaded By: {{userName}}</p>
  <p style="text-align:center;"><img src="{{data[0]}}" style="width:700px;height:600px;"></p>
  <p style="text-align:center;">{{data[2]}}</p>
  {% else %}
  <a><button class="btn" onclick="alertMessage()"><i class="fa fa-download"></i> Download</button></a>
  <p style="text-align:center;">{{data[1]}}</p>
  <p style="text-align:center;"><img src="{{data[0]}}" style="width:700px;height:600px;"></p>
  <p style="text-align:center;">{{data[2]}}</p>
  {% endif %}
  {% endfor %}
  <br>
</div>
<script>
function alertMessage() {
 alert("Please login before Downloading images!");
}
</script>
{%endblock%}
