<!--Image Information Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}">
{%endblock%}

{%block body%}
<!-- Container for the image gallery -->
<br>
<div class="container">
  <!-- Full-width images with number text -->
<p> Come here </p>
{% for path in filePath %}
<img src="{{path[0]}}" style="width:600px;height:500px;">
{% endfor %}
  <!-- Thumbnail images -->
  <!-- {% for path in filePath %}
      <div class="column">
        <p> {{path[0]}}</p>
      <tr>
        <td><img src="{{path[0]}}"></td>
      </tr>
      </div>
  {% endfor %} -->
</div>
{%endblock%}
