<!--

  AUTHORED BY: Roy Telles, Jr.

-->

{%extends "ShallotLayout/shallotLayout.html" %}
{%block banner%}
<!-- SITE NAME AND LOGO -->
<!-- <img src="{{ url_for('static', filename='NoRingsPurple.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Shallot" width="250" height="250" margin-bottom: "0px"> -->
<a href="http://shallotco.com">
  <img src="{{ url_for('static', filename='ShallotPurple.png') }}" class="img-responsive margin" style="display:inline" alt="ShallotLogo" width="645" height="300" margin-bottom: "0px">
</a>
<!-- END site name and logo -->
<!-- SITE MOTTO -->
<center>
  <h4>
    <i><font color="Black"> Royalty Free Images for Students. </font>
    </i>
  </h4>
</center>
<!-- END site motto -->
<!-- SEARCH BAR goes here -->
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <form action="/Search" method="post">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="category">
              <span id="search_concept">All</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#All">All</a></li>
              <li><a href="#Clip-art">Clip-art</a></li>
              <li><a href="#Fashion">Fashion</a></li>
              <li><a href="#Food">Food</a></li>
              <li><a href="#Nature">Nature</a></li>
            </ul>
          </div>
          <input type="hidden" name="category" value="{{request.form.category}}" id="search_param">
          <input type="text" class="form-control" name="search" placeholder="Search term..." value="{{request.form.search}}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </form>
      </div>
    </div>
  </div>
  {%block results%}
  {%endblock%}
</div>
<!-- END SearchBar -->
{%endblock%}
