{%extends "ShallotLayout/shallotLayout.html" %};
{%block head%}
<style>
body {
	padding-bottom: 20px;
	text-align: center;
}

div.form {
	display: block;
	text-align: center;
}
</style>
{%endblock%}
{% block body %}
<body>
	<div class="container-fluid">
		<br>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
		<h4>Please Login:</h4>
		<br>
		<form style="display: inline-block; margin-left: auto; margin-right: auto; text-align: left;" action="/Login"  method="post">
			<div class="form-group col-md-8">
				<label class="active">Username:</label>
				<input type="text" class="form-control" maxlength="30" placeholder="Username" name="username" value="{{request.form.username}}">
			</div>
			<div class="form-group col-md-8">
				<label class="active">Password:</label>
				<input type="password" class="form-control" maxlength="45" placeholder="Password" name="password" value="{{request.form.password}}">
			</div>
			<br>
			<input class="btn" type="submit" value="Login" style="background-color:#FFD166;color:#000">
		</form>
      <div class="container">
	   <br><p>No account? <a href="/Register">Register here</a></p>
	   <p><a href="/forgot-password">Forgot Password?</a></p>
	   <br>
	  </div>
    <div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message}}
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}

  </div>
	</div>
</body>
{% endblock %}
