{%extends "ShallotLayout/shallotLayout.html" %};
{%block head%}
<style>
body {
	padding-bottom: 20px;
	text-align: center;
}

/* CENTER FORM */
div.form {
  display: block;
  text-align: center;
}

form {
	display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

</style>
{%endblock%}

{%block banner%}
<header class="card-header">
	<h2 class="card-title mt-2">Login</h2>
</header>
{%endblock%}

{% block body %}



		<br>
		{% if error %}
		<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

			<form action="/Login" method="post">

				<div class="form-group form-row">
					<label class="active">Username:</label>
					<input type="text" class="form-control" maxlength="30" placeholder="Username" name="username" value="{{request.form.username}}">
					<label class="active">Password:</label>
					<input type="password" class="form-control" maxlength="45" placeholder="Password" name="password" value="{{request.form.password}}">
					<br>
					<center>
						<div class="form-group" style="padding: 12px 28px;">
							<input class="btn" type="submit" value="Login" style="background-color:#FFD166;color:#000">
						</div>
					</center>

					<center>
						<br><p>No account? <a href="/Register">Register here</a></p>
						<p><a href="/forgot-password">Forgot Password?</a></p>
						<br>
					</center>
				</div>

			</form>



		<!-- <div class="container" style="min-height:100% width:80%">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				{{message}}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}

		</div> -->




{% endblock %}
