{%extends "ShallotLayout/shallotLayout.html"%}

{%block registration%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
  <!-- REGISTRATION script -->
  <script type="text/javascript" src="{{ url_for('static', filename='registration.js')}}"></script>
  <div class="form-size">
    <form class="needs-validation" novalidate>
      <div class="form-group">
        <label for="email">Email address</label><i class="fa fa-asterisk text-danger"></i>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter an appropriate email.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label><i class="fa fa-asterisk text-danger"></i>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">I'm sorry, your password format is incorrect</div>
        <div id="message">
          <h3>Password must contain the following:</h3>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
      </div>
      <div class="form-group">
        <label for="repeat-psw">Confirm Password</label><i class="fa fa-asterisk text-danger"></i>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">I'm sorry, your password format is incorrect</div>
      </div>
      <!-- DOB -->
      <label for="repeat-psw">Date of birth</label><i class="fa fa-asterisk text-danger"></i>
      <div class="form-row">
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
            <option selected>Month</option>
            <option>Jan</option>
            <option>Feb</option>
            <option>Mar</option>
            <option>Apr</option>
            <option>May</option>
            <option>Jun</option>
            <option>Jul</option>
            <option>Aug</option>
            <option>Sep</option>
            <option>Oct</option>
            <option>Nov</option>
            <option>Dec</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
            <option selected>Day</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
            <option selected>Year</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
            <option>1989</option>
            <option>1988</option>
            <option>1987</option>
            <option>1986</option>
            <option>1985</option>
            <option>1984</option>
            <option>1983</option>
            <option>1982</option>
            <option>1981</option>
            <option>1980</option>
          </select>
        </div>
      </div>
      <!-- END dob -->
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="male">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="female">
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="preferno" value="preferno">
          <label class="form-check-label" for="PreferNo">Prefer not to state</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to <a href="#" style="color:dodgerblue">Terms & Conditions</a>
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button type="button" class="btn btn-danger"><a href="shallotHome.html" style="color:white; text-decoration: none;">Cancel</a></button>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
{%endblock%}
