
<!-- SEARCHBAR GOES HERE -->
<!-- END SearchBar -->
<!-- TRENDING here -->
{% include "layoutBanner.html" %}
<!-- Container for the image gallery -->
<br>
<div class="container">
  <!-- Full-width images with number text -->

  <!-- Thumbnail images -->
      {% for image in data %}
          <div class="column">
          <tr>
            <td> <a target="_blank" rel="noopener noreferrer" href="/Search/{{image[1]}}"> <img src="{{image[0]}}" align="left" style="width:500px;height:400px;" hspace="20" vspace="20"></a></td>
          </tr>
          </div>
      {% endfor %}
</div>
{%endblock%}
<!-- END trending -->
