{%extends "ShallotLayout/shallotLayout.html" %};

{%block content%}
        <br><br><br>
        <div id="uploadImage" class = "container-fluid searchBar text-center">
            <h1>Image Uploader</h1>
            <br><br><br><br>


            <!--all action variables,button here, except the cancel button-->
            <!--all action variables,button here, except the cancel button-->
            <!-- url_for('Search')  redirect function name goes in here!!!!!!!!!!-->
            <!-- url_for('Search')  redirect function name goes in here!!!!!!!!!!-->
            <form id = "upload-form" action = "{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <input class = "container-fluid text-center upload" type="file" value="clickME" name="file" accept="/" multiple>
                <br><br>
                <div>
                    Image Category:
                    <select name="category">
                        <option value="nature">nature</option>
                        <option value="people">people</option>
                        <option value="animal">animal</option>
                    </select>
                </div>
                <br>

                Message:
                <input class="messageBox" type="text" name='comment' id="searchBar" placeholder="Leave a Comments" size="75"/>

                <br><br>
                <input class="button" type="submit" value="Upload">
            </form>







            <input class="button" type="submit" value="Cancel">
            <br><br><br><br><br><br><br><br>
            <hr>
            <div class="policy">
                POLICY: Fluorine Uranium Carbon Potassium
                Bismuth Technetium Helium Sulfur Germanium Tau
                Molybdenum Neon Yttrium Aluminium Lepton
                Thorium	Rhenium	Electron Tellurium Americium
                Lepton Electron Alpha Particle Deuterium
                Hydrogen Alpha Particle	Vanadium Electron
                Nobelium Iodine	Deuterium Electron Alpha Particle
                Iodine Deuterium Electron Alpha Particle
                Protactinium Sulfur	Sulfur
                Vanadium Argon Iodine Alpha Particle Boron Lepton Electron
                Francium Molybdenum Phosphorus Yttrium Thorium Oxygen Nitrogen
                Tau	Oxygen Hydrogen	Thulium	Lepton Alpha Particle Neodymium
                Vanadium Iodine	Cerium Vanadium	Erbium Sulfur Alpha Particle 7/19/2018
            </div>

        </div>



{%endblock%}
