<!--Upload Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html" %};
{%block head%}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
{%endblock%}
{%block body%}
        <br>
        <br>
        <br>
        <div id="uploadImage" class = "container-fluid searchBar text-center">
          <div align="center">
            <form id = "upload-form" action = "/UploadImage" method="POST" enctype="multipart/form-data">
              <h1 style="text-align:center;">Please choose the image that you want to upload</h1>
                <input class = "container-fluid text-center upload" type="file" size="100" value="clickME" name="file" accept="image/*" multiple>
                <br><br>
                <div>
                    Image Category:
                    <select name="category">
                        <option value="Nature">Nature</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Food">Food</option>
                        <option value="Clip Art">Clip Art</option>
                    </select>
                </div>
                <br>

                Description:
                <input class="messageBox" type="text" name="description" placeholder="Leave your description" size="75"/>
                Image Name:
                <input type="text" name="imageName" placeholder="Please provide your image name" size="75"/>

                <br><br>

                <input class="button" type="submit" value="Upload">
            </form>
          </div>

            <div class="container" style="min-height:100% width:80%">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              {{message}}
              </div>
            {% endfor %}
            {% endif %}
          {% endwith %}

          </div>


        </div>



{%endblock%}

<!-- <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" /> -->
    <!-- <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- <style>
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
</style> --> -->
<!-- function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    } -->
