{%extends "ShallotLayout/shallotLayout.html"%}

{%block banner%}
<center><h1>Congratulations on your Upload!</h1></center>
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ImagePage.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#button {
    background-color: #9C00CD;
    border: none;
    color: white;
    padding: 3px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>
{%endblock%}



{%block body%}
<center><a href="http://shallotco.com">
    <img src="{{ url_for('static', filename='ShallotPurple.png') }}" class="img-responsive margin" style="display:inline" alt="ShallotLogo" width="645" height="300" margin-bottom: "0px">
</a></center>
<center><h4>Thank you for uploading your image!</h4></center>
<center><h4> Please give us at least 24 hours to approve it!</h4></center>
<center>
  <form action="http://shallotco.com/UploadImage">
    <input id="button" type="submit" value="Upload another image" />
  </form>
  <form action="http://shallotco.com">
    <input id="button" type="submit" value="Go Home" />
  </form>
</center>
{%endblock%}
