<!--Upload Page-->
<!--Front End: Roy Telles & Sam Zheng-->
<!--Back End: Jenny Cai, Mike Lama, Patrick Coico-->

{%extends "ShallotLayout/shallotLayout.html" %};
{%block head%}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
{%endblock%}
{%block body%}
        <br>
        <br>
        <br>
        <div id="uploadImage" class = "container-fluid searchBar text-center">
          <h1 style="text-align:center;">Please choose the image that you want to upload</h1>
            <form id = "upload-form" action = "/UploadImage" method="POST" enctype="multipart/form-data">
              <div class="form-group" style="display: center;">
              <br><br>
                <input class = "container-fluid text-center upload" type="file" size="200" value="clickME" name="file" accept="image/*" multiple>
                <br><br>
                <div>
                    Image Category:
                    <select name="category" value="{{request.form.category}}">
                        <option value="Nature">Nature</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Food">Food</option>
                        <option value="Clip Art">Clip Art</option>
                    </select>
                </div>
                <br>
                <div>
                Description:
                <input class="messageBox" type="text" name="description" placeholder="Leave your description" size="50" value="{{request.form.description}}"/>
              </div>
                <br>
                <div>
                Image Name:
                <input type="text" name="imageName" placeholder="Please provide your image name" size="50" value="{{request.form.imageName}}"/>
              </div>
                <br><br>

                <input class="button" type="submit" value="Upload">
                </div>
            </form>

            <style>
            form{
              margin-left: 280px;
            }
            </style>
{%endblock%}
